{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class = "card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde nemo amet, tempora quasi rerum corporis suscipit possimus assumenda iure, eaque optio voluptates sed ratione doloribus quibusdam distinctio laboriosam est earum quas laborum iusto quaerat adipisci quam error? Est dolore officiis cum quae pariatur molestiae corrupti aliquam! Praesentium labore itaque nihil provident numquam! Corporis laboriosam magni eveniet minus unde optio libero voluptatum explicabo voluptatibus molestiae! Fugit unde aut rem maiores, eius voluptates esse illum ab repudiandae inventore incidunt possimus, deleniti voluptas reiciendis. Nulla vero quia, iusto, quidem dolorem possimus voluptate excepturi iure, aspernatur nobis maiores facere numquam animi alias commodi repellendus?</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Signin</a>
            <a class="btn btn-primary" href="/signup/">Signup</a>
    
        </div>  
    </section>
    
</main>
{% endblock %}